*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: sans-serif;
}

/* Modal login/Register */
.modal{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.5);
    padding: 20px 0;
    z-index: 1;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.modal-inner{
    width: 30%;
    position: relative;
    top: 10%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 4px 4px 10px black;
}
.modal-header{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: green;
    color: white;
    visibility: cover;
}
#Notification{
    height: 10px;
    margin-top: 5px;
}
.modal-body{
    width: 100%;
    padding: 20px 10px;
}
.modal-footer{
    display: flex;
    justify-content: center;
    background-color: green;
    padding: 15px 0;
}
.modal-header span{
    position: absolute;
    right: 15px;
    padding: 3px;
}
.modal-header span:hover{
    cursor: pointer;
}
.btn{
    padding: 5px 30px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    box-shadow: 1px 2px 1px rgb(3, 50, 3);
    color: green;
    font-size: 18px;
}
.btn:hover{
    background: rgb(9, 152, 9);
    cursor: pointer;
    color: white;
}
.form-control{
    width: 100%;
    margin-top: 10px;
}
.form-control input{
    width: 100%;
    padding: 10px 20px;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    border-bottom:1px solid green ;
}
.error{
    margin-left: 15px;
    color: orangered;
}
.form-group{
    margin-left: 10px;
    margin-top: 15px;
}
.form-group a{
    color: green;
    text-decoration: none;
}
.form-group a:hover{
    color: orangered;
    text-decoration: underline;
}

/* modal Cart */
.modal-cart-body{
    padding: 20px;
}
.cart-form{
    display: flex;
    width: 100%;
}
.cart-form img{
    width: 15%;
    height: 70px;
    margin-right: 15px;
}
.cart-group{
    width: 85%;
}
.cart-group p{
    color: green;
    font-weight: bold;
}
.cart-control{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.btn-control{
    margin-top: 6px;
}
.btn-control input  {
    width: 30px;
    padding: 5px;
}
.cart-delete i{
    margin-top: 10px;
    float: right;
}
.cart-delete i:hover{
    cursor: pointer;
    color: orangered;
}
.modal-cart-footer{
    width: 100%;
    padding: 20px;
}
.total-price{
    margin: 10px 0;
    border-top: 1px solid green;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.total-price p, .total-price span{
    font-weight: bold;
}
.total-price span{
    color: green;
}
.btn-footer{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.btn-cart-footer{
    background-color: green;
    color: white;
}


.slider{
    width: 100%;
    height: 600px;
}
.slider-show img{
    width: 100%;
    height: 600px;
    position: relative;
    z-index: -1;
}
.prev, .next{
    position: absolute;
    color: rgb(153, 151, 151);
    top: 35%;
    border: 1px solid rgb(153, 151, 151);
    padding: 10px 14px;
    border-radius: 50%;
}
.prev{
    left: 20px;
}
.next{
    right: 20px;
}
.slider-show i:hover{
    cursor: pointer;
    color: rgb(204, 202, 202);
    border:2px solid rgb(194, 192, 192);
}
.slider-Icon img{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.slider-Icon img:hover{
    cursor: pointer;
}
.big-icon{
    position: absolute;
    width: 100%;
    bottom: -70px;
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 25px;
    
}
.card-img{
    width: 120px;
    height: 120px;
    border: 1px solid #dadada;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 10px;
    background: white;
}
.card-img:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.5);
}

.card-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.card a{
    color: black;
    text-decoration: none;
}
.card a:hover{
    color: orangered;
}
.white{
    height: 150px;
}

.products{
    margin:  auto;
    padding: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0efef;
}
.products h1{
    font-size: 40px;
    margin: 10px 0;
}
.btn-product{
    margin: 30px 0;
}
.btn-product span{
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid rgb(92, 192, 92);
    background-color: #fff;
    margin: 0 10px;
}
.btn-product span:first-child{
    background-color: green;
    color: white;
}
.btn-product span:hover{
    color: white;
    cursor: pointer;
    background-color: green;
}
.card-products{
    width: 60%;
    display: flex;
    margin: 10px 0;
}
.card-product{
    width: 25%;
    height: 300px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
}
.card-product:last-child{
    margin-right: unset;
}
.card-product-img{
    position: relative;
}
.card-product-img img{
    width: 100%;
    height: 220px;
    padding: 35px;
    background-color: #fff;
    border-radius: 15px;
}
.card-product-info{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card-product-info p{
    font-weight: 900;
    font-size: 17px;
    color: rgb(92, 90, 90);
}
.card-product-info h3{
    color: rgb(219, 87, 39);
    margin-top: 10px;
}
.card-product-info del{
    color: #969393;
    font-size: 17px;
    margin-left: 10px;
}
.card-product:hover{
    cursor: pointer;
}
.card-product-info p:hover{
    color: green;
}
.cartIcon{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    visibility: hidden;
    bottom: 90px;
    opacity: 0;
}
.card-product-img:hover .cartIcon{
    visibility: visible;
    opacity: 100;
    animation: slide 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes slide {
    from{
        bottom: 0px;
    } 
    to {
        bottom: 90px;
    }
    
}
.cartIcon i{
    font-size: 25px;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 50%;
}
.cartIcon i:hover{
    cursor: pointer;
    color: white;
    background-color: orange;
}

.img-banner{
    width: 100%;
    padding: 50px 0;
}
.img-banner-a{
    width: 60%;
    margin: 20px auto;
    display: flex;
}
.img-banner1, .img-banner3{
    width: 25%;
    height: 300px;
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.img-banner2{
    width: 50%;
    height: 300px;
    margin: 0 25px;
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}


.footer{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #dadada;
}
.footer-support{
    width: 60%;
    margin: auto;
    padding: 30px 0;
    display: flex;
}
.footer-support1 > p{
    margin: 20px 0;
    color: #525050;
    line-height: 25px;
}
.call-me{
    display: flex;
}
.call-me i{
    font-size: 30px;
    margin-right: 10px;
}
.footer-support1  h2{
    margin-top: 5px;
    color: orangered;
}
.footer-support1{
    width: 33.33%;
    margin-right: 20px;
}
.footer-support1>p>a{
    text-decoration: none;
    color: green;
}
.footer-support1>p>a:hover{
    color: orangered;
}
.support1{
    padding-top: 30px;
}
.footer-support2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-support1:last-child{
    margin-right: unset;
}
.footer-copyright{
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
    padding: 15px 0;
}
.list-support{
    width: 100%;
    display: flex;
}
.list-support1{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.list-support1 a{
    text-decoration: none;
    color: #525050;
    margin-top: 10px;
}
.list-support1 a:hover{
    color: orangered;
}
.register{
    display: flex;
    margin-top: 20px;
}
.register i{
    font-size: 60px;
    margin-right: 15px;
    color: green;
}
.registerMail > h1,.registerMail > p{
    color: rgb(70, 71, 70);
}

.sigUp{
    background-color: #fff;
    border-radius: 20px 0 20px 0 ;
    overflow: hidden;
    height: 50px;
    margin-top: 25px;
}
.sigUp #mail{
    height: 100%;
    margin-right: 5px;
    width: 70%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 5px 20px;
}
.sigUp #submit{
    height: 100%;
    width: 27%;
    background-color: rgb(2, 155, 2);
    border: none;
    color: white;
    font-size: 18px;
}
.sigUp #submit:hover{
    cursor: pointer;
    background-color: orange;
}


